<div class="jumbotron text-center text-custom-color-darkbrown">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">With this app you can manage your todos</p>
    <a href="/todos/add" class="btn btn-dark btn-lg">Add todo</a>
</div>